<h1>All About Me</h1>
<p><strong>Yes, it's all about me, as usual.  But isn't that true for everyone?</strong></p>
<p>Seriously, the truth about me:  I have been a network and systems administrator for over 15 years.  Having grown chronically bored, I have decided to learn some new skills unrelated to network administration. So this is my learning project.  </p>
<p><strong>By the way, no -- I will not repair your home computer.  I'm tired of being asked that question!</strong> (Did you reboot it first?)</p>

<img src="/blink.gif" alt="I spy with my little eye" />