
<h2 align="center">Auroral Displays (aka "the Northern Lights")</h2>

<img style="margin:0px auto;display:block" src="/aurora-ring.jpg"/>
<p></p>
An aurora, sometimes referred to as a polar light or northern light, is a natural light display in the sky, predominantly seen in the high latitude (Arctic and Antarctic) regions. Auroras are produced when the magnetosphere is sufficiently disturbed by the solar wind that the trajectories of charged particles in both solar wind and magnetospheric plasma, mainly in the form of electrons and protons, precipitate them into the upper atmosphere (thermosphere/exosphere), where their energy is lost. The resulting ionization and excitation of atmospheric constituents emits light of varying colour and complexity. The form of the aurora, occurring within bands around both polar regions, is also dependent on the amount of acceleration imparted to the precipitating particles. Precipitating protons generally produce optical emissions as incident hydrogen atoms after gaining electrons from the atmosphere. Proton auroras are usually observed at lower latitudes.
<p></p>
Most auroras occur in a band known as the auroral zone, which is typically 3° to 6° wide in latitude and between 10° and 20° from the geomagnetic poles at all local times (or longitudes), most clearly seen at night against a dark sky. A region that currently displays an aurora is called the auroral oval, a band displaced towards the nightside of the Earth. Early evidence for a geomagnetic connection comes from the statistics of auroral observations. Elias Loomis (1860), and later Hermann Fritz (1881) and S. Tromholt (1882) in more detail, established that the aurora appeared mainly in the auroral zone. Day-to-day positions of the auroral ovals are posted on the internet.
<p></p>
In northern latitudes, the effect is known as the Aurora Borealis or the Northern Lights. The former term was coined by Galileo in 1619, from the Roman goddess of the dawn and the Greek name for the north wind. The southern counterpart, the Aurora Australis or the Southern Lights, has features that are almost identical to the Aurora Borealis and changes simultaneously with changes in the northern auroral zone.[8] The Aurora Australis is visible from high southern latitudes in Antarctica, Chile, Argentina, New Zealand, and Australia.
<p></p>
A geomagnetic storm causes the auroral ovals (north and south) to expand, and bring the aurora to lower latitudes. It was hardly ever seen near the geographic pole, which is about 2000 km away from the magnetic pole. The instantaneous distribution of auroras ("auroral oval") is slightly different, being centered about 3–5 degrees nightward of the magnetic pole, so that auroral arcs reach furthest toward the equator when the magnetic pole in question is in between the observer and the Sun. The aurora can be seen best at this time, which is called magnetic midnight.
<p></p>
Auroras seen within the auroral oval may be directly overhead, but from farther away they illuminate the poleward horizon as a greenish glow, or sometimes a faint red, as if the Sun were rising from an unusual direction. Auroras also occur poleward of the auroral zone as either diffuse patches or arcs,[9] which can be sub-visual.

<p></p>
<img src="/aurora1.jpg"/>

<img src="/aurora2.jpg"/>
<p></p>
<img src="/aurora3.jpg"/>

<img src="/aurora4.jpg"/>
<p></p>