<h1>Frequently Asked Questions</h1>
<h2>The most frequently asked question in the world is:</h2>
<p></p>
<p>1. What is the meaning of life?</p>

<p></p>This is by far the most perplexing question of any on the list. I have studied many religions and philosophies, some very deeply, and I can tell you that if one common lesson, 
one essential element of life could be boiled down from them all, it would be: Don't be an asshole.
</p>
<p>No, seriously, that's it. Just about every world religion says at least that much. I mean, yeah, they say other stuff too, but this is the common ground. This is what they all basically say. 
I wish I had something fancier to tell you, but if there is a universal truth out there common to all of religion, philosophy and social theory that points to a single successful navigation method 
to get through life, that's the one. Don't be an ass. That's it. So there you go, and you're welcome.</p>
