<h2 align="center">Galaxies</h2>
<p></p>
    <%=link_to 'Andromeda', home_andromeda_path, class: 'btn btn-info'%>
    <%=link_to 'Pinwheel Galaxy', home_pinwheel_path, class: 'btn btn-info'%>
<p></p>
<strong>Definition:</strong>
<p></p>

<p>A galaxy is a gravitationally bound system of stars, stellar remnants, interstellar gas, dust, and dark matter. The word galaxy is derived from the Greek galaxias (γαλαξίας), literally "milky", a reference to the Milky Way. Galaxies range in size from dwarfs with just a few billion (109) stars to giants with one hundred trillion (1014) stars, each orbiting its galaxy's center of mass. Galaxies are categorized according to their visual morphology as elliptical,[4] spiral and irregular. Many galaxies are thought to have black holes at their active centers. The Milky Way's central black hole, known as Sagittarius A*, has a mass four million times greater than the Sun. As of March 2016, GN-z11 is the oldest and most distant observed galaxy with a comoving distance of 32 billion light-years from Earth, and observed as it existed just 400 million years after the Big Bang.</p>

Observations by Hubble Space Telescope and ground-based instruments show that the first galaxies took shape as little as one billion years after the Big Bang, which probably took place about 13 billion to 14 billion years ago.
<p></p>

<h3 align="center">How are Galaxies Formed?</h3>
<p></p>
There are two leading theories to explain how the first galaxies formed. The truth may involve a bit of both ideas.
<p></p>
One says that galaxies were born when vast clouds of gas and dust collapsed under their own gravitational pull, allowing stars to form.
<p></p>
The other, which has gained strength in recent years, says the young universe contained many small "lumps" of matter, which clumped together to form galaxies. Hubble Space Telescope has photographed many such lumps, which may be the precursors to modern galaxies. According to this theory, most of the early large galaxies were spirals. But over time, many spirals merged to form ellipticals.
<p></p>
The galaxy-formation process has not stopped. Our universe continues to evolve. Small galaxies are frequently gobbled up by larger ones. The Milky Way may contain the remains of several smaller galaxies that it has swallowed during its long lifetime. The Milky Way is digesting at least two small galaxies even now, and may pull in others over the next few billion years.
<p></p>
Galaxy mergers happen fairly often. A large portion of the bright galaxies that we see today may have formed from the mergers of two or more smaller galaxies.
<p></p>
Mergers are common because the universe is crowded on the galactic distance scale. The disk of the Milky Way, for example, spans about 100,000 light-years; the nearest major galaxy, the great spiral in Andromeda, which is a little bigger than the Milky Way, is about 2.5 million light-years away. That means the distance between these two galaxies is only about 25 times greater than the sizes of the galaxies themselves. That doesn't leave a lot of "elbow room" for galaxies.
<p></p>
Galaxies are very massive, too, so their gravity is strong. When you crowd them together, the attraction can be so strong that two galaxies latch on to each other and don't let go. Eventually they merge, forming a single giant city of stars.
<p></p>
The largest galaxies are giant ellipticals. They look like eggs or footballs. They can be 10 times the Milky Way's size and contain more than a trillion stars. Such galaxies probably formed when two or more spirals, like the Milky Way, merged to form a single galaxy.
<p></p>
One bit of evidence supporting the merger theory is the large number of ellipticals in dense clusters of galaxies, where mergers must be common. Two giant ellipticals dominate the center of the densely packed Coma Cluster, for example. And the heart of the Virgo cluster contains three giant ellipticals that each span almost one million light-years.
<p></p>
Mergers can take anywhere from a few hundred million to a few billion years to complete. They can trigger intense bursts of new star formation, and even create gigantic black holes.

<p></p>






<h4>Types of Galaxies</h4>
<p></p>

<dl>
        <dt>Spiral</dt>
        <dt>Ellipticals</dt>
        <dt>Dwarf</dt>
        <dt>Lenticular</dt>
        <dt>Irregular</dt>
        <dt>Ultra Diffuse (UDG)</dt>
        
</dl>

    