<h2 align="center">Comet Hale-Bopp</h2>

<img style="margin:0px auto;display:block" src="/hale-bopp.jpg"/>

<p></p>

<p>Comet Hale–Bopp (formally designated C/1995 O1) is a comet that was perhaps the most widely observed of the 20th century, and one of the brightest seen for many decades.</p>

<p>Hale–Bopp was discovered on July 23, 1995 separately by Alan Hale and Thomas Bopp prior to it becoming naked-eye visible on Earth. Although predicting the maximum apparent brightness of new comets with any degree of certainty is difficult, Hale–Bopp met or exceeded most predictions when it passed perihelion on April 1, 1997. It was visible to the naked eye for a record 18 months, twice as long as the previous record holder, the Great Comet of 1811. Accordingly, Hale–Bopp was dubbed the Great Comet of 1997.</p>

<p>The comet was discovered independently on July 23, 1995 by two observers, Alan Hale and Thomas Bopp, both in the United States.</p>

<p>Hale had spent many hundreds of hours searching for comets without success, and was tracking known comets from his driveway in New Mexico when he chanced upon Hale–Bopp just after midnight. The comet had an apparent magnitude of 10.5 and lay near the globular cluster M70 in the constellation of Sagittarius. Hale first established that there was no other deep-sky object near M70, and then consulted a directory of known comets, finding that none were known to be in this area of the sky. Once he had established that the object was moving relative to the background stars, he emailed the Central Bureau for Astronomical Telegrams, the clearing house for astronomical discoveries.</p>

<p>Bopp did not own a telescope. He was out with friends near Stanfield, Arizona observing star clusters and galaxies when he chanced across the comet while at the eyepiece of his friend's telescope. He realized he might have spotted something new when, like Hale, he checked his star maps to determine if any other deep-sky objects were known to be near M70, and found that there were none. He alerted the Central Bureau for Astronomical Telegrams through a Western Union telegram. Brian G. Marsden, who had run the bureau since 1968, laughed, "Nobody sends telegrams anymore. I mean, by the time that telegram got here, Alan Hale had already e-mailed us three times with updated coordinates."</p>

<p>The following morning, it was confirmed that this was a new comet, and it was given the designation C/1995 O1. The discovery was announced in International Astronomical Union circular 6187.</p>

