
<h2 align="center">Nebulae</h2>

<h3 align="center">What is a Nebula?</h3>

<strong>Definition:</strong>

<p>A nebula (Latin for "cloud"; pl. nebulae, nebulæ, or nebulas) is an interstellar cloud of dust, hydrogen, helium and other ionized gases. Originally, nebula was a name for any diffuse astronomical object, including galaxies beyond the Milky Way. The Andromeda Galaxy, for instance, was once referred to as the Andromeda Nebula (and spiral galaxies in general as "spiral nebulae") before the true nature of galaxies was confirmed in the early 20th century by Vesto Slipher, Edwin Hubble and others.</p>

<p>
Most nebulae are of vast size, even millions of light years in diameter. Contrary to fictional depictions where starships hide in nebulae as thick as cloud banks, in reality a nebula that is barely visible to the human eye from Earth would appear larger, but no brighter, from close by.[4] The Orion Nebula, the brightest nebula in the sky that occupies a region twice the diameter of the full Moon, can be viewed with the naked eye but was missed by early astronomers.[5] Although denser than the space surrounding them, most nebulae are far less dense than any vacuum created on Earth – a nebular cloud the size of the Earth would have a total mass of only a few kilograms. Many nebulae are visible due to their fluorescence caused by the embedded hot stars, while others are so diffuse they can only be detected with long exposures and special filters. Some nebulae are variably illuminated by T Tauri variable stars. Nebulae are often star-forming regions, such as in the "Pillars of Creation" in the Eagle Nebula. In these regions the formations of gas, dust, and other materials "clump" together to form denser regions, which attract further matter, and eventually will become dense enough to form stars. The remaining material is then believed to form planets and other planetary system objects.</p>

    <%=link_to 'Orion Nebula', home_orion_nebula_path, class: 'btn btn-info'%>
    <%=link_to 'Eagle Nebula', home_eagle_nebula_path, class: 'btn btn-info'%>
   