


<h2 align="center">The Orion Nebula</h2>

<img style="margin:0px auto;display:block" src="/M42-Orion-Nebula-2-5-2016.jpg"/>



<p></p>
<p>What science says about the Orion Nebula. According to modern astronomers, the Orion Nebula is an enormous cloud of gas and dust, one of many in our Milky Way galaxy. It lies roughly 1,300 light-years from Earth.

At some 30 to 40 light-years in diameter, this great big nebulous cocoon is giving birth to perhaps a thousand stars. A young open star cluster, whose stars were born at the same time from a portion of the nebula and are still loosely bound by gravity, can be seen within the nebula. It is sometimes called the Orion Nebula Star Cluster. In 2012, an international team of astronomers suggested this cluster in the Orion Nebula might have a black hole at its heart.

The four brightest stars in the Orion Nebula can be seen through amateur astronomers’ telescopes and are affectionately known as The Trapezium. The light of the young, hot Trapezium stars illuminate the Orion Nebula. These stars are only a million or so years old – mere babes in the lifetime of a star.

But most of the stars in this emerging cluster are veiled behind the Orion Nebula itself, the great stellar nursery in Orion’s Sword.

Orion Nebula’s position is Right Ascension: 5h 35.4m; Declination: 5o 27′ south</p>


