


<h2 align="center">The Pinwheel Galaxy, M101</h2>

<img style="margin:0px auto;display:block" src="/pinwheel.jpg"/>

<p></p>The Pinwheel Galaxy (also known as Messier 101, M101 or NGC 5457) is a face-on spiral galaxy distanced 21 million light-years (six megaparsecs) away from earth in the constellation Ursa Major. First discovered by Pierre Méchain on March 27, 1781, it was communicated to Charles Messier who verified its position for inclusion in the Messier Catalogue as one of its final entries.

<p></p>M101 is a large galaxy comparable in size to the Milky Way. With a diameter of 170,000 light-years it is roughly equal the size of the Milky Way. It has a disk mass on the order of 100 billion solar masses, along with a small central bulge of about 3 billion solar masses.

<p></p>M101 is noted for its high population of H II regions, many of which are very large and bright. H II regions usually accompany the enormous clouds of high density molecular hydrogen gas contracting under their own gravitational force where stars form. H II regions are ionized by large numbers of extremely bright and hot young stars; those in M101 are capable of creating hot superbubbles. In a 1990 study, 1264 H II regions were cataloged in the galaxy. Three are prominent enough to receive New General Catalogue numbers - NGC 5461, NGC 5462, and NGC 5471.

<p></p>M101 is asymmetrical due to the tidal forces from interactions with its companion galaxies. These gravitational interactions compress interstellar hydrogen gas, which then triggers strong star formation activity in M101's spiral arms that can be detected in ultraviolet images.

<p></p>In 2001, the x-ray source P98, located in M101, was identified as an ultra-luminous X-ray source - a source more powerful than any single star but less powerful than a whole galaxy - using the Chandra X-ray Observatory. It received the designation M101 ULX-1. In 2005, Hubble and XMM-Newton observations showed the presence of an optical counterpart, strongly indicating that M101 ULX-1 is an x-ray binary. Further observations showed that the system deviated from expected models - the black hole is just 20 to 30 solar masses, and consumes material (including captured stellar wind) at a higher rate than theory suggests.




