<h1>The Mighty Simba!</h1>
<h2>My New Kitten is Simba; here is her brief history:</h2>
<p></p>
<p></p>
<ul>
  <li>Simba is a female domestic short hair black, brown, and white tabby kitten.</li>
   <li>She was born on June 10, 2017.</li>
   <li>She was found in a backyard in Hillsboro, Oregon with her siblings Champ, Hero, and Mika.  Her original name was Raleigh.</li>
   <li>She was transferred with her siblings by the Washington County Animal Services to the Cat Adoption Team in Sherwood, Oregon.</li>
   <li>She was adopted by me on Saturday, September 9, 2017.  However, since she was not spayed yet, she remained at the Cat Adoption Team until September 13, her surgery date.</li>
   <li>I took her home on the evening of September 13, and now she is my little Simba!</li>
</ul>
<hr>

<img src="/Simba-sleeps.jpg"/>

<img src="/Simba-pink-bed1.jpg"/>
<p></p>
<img src="/Simba-pink-bed2.jpg"/>
<p></p>
<img src="/Simba-face.jpg"/>
<p></p>
<img src="/Simba-baby.jpg"/>

<p></p>